<div class="hero-unit">
    <h1>Register form</h1>
    <p>@TODO</p>

        <form class="navbar-form pull-right ng-valid ng-dirty" name="registerForm" ng-submit="RegisterUser()" ng-controller="MainCtrl">
            <div class="the-icons span3" title="icon-user"><i class="icon-user"></i></div>
            <input class="login-inp ng-valid ng-dirty" type="text" required class="input-block-level" placeholder="login" ng-model="r_username" name="r_username">
            <input class="login-inp ng-valid ng-dirty" type="password" required class="input-block-level" placeholder="hasło" ng-model="r_password" name="r_password">
            <input class="login-inp ng-valid ng-dirty" type="password" required class="input-block-level" placeholder="hasło" ng-model="r_password" name="r_password">
            <div class="the-icons span3" title="icon-user"><i class="icon-user"></i></div>  

            <input class="login-inp ng-valid ng-dirty" type="password" required class="input-block-level" placeholder="podaj hasło powtórnie" ng-model="r_password" name="r_password">
            <button class="btn" type="submit">Zarejestrujssssssssssssss</button>


            <div class="the-icons span3" title="icon-user"><i class="icon-user"></i></div>
        </form>
       
						</br>
						</br>

							
						</form>


</div>

 