body {
	padding: 140px 0;
	background: #f1f1f1;
	font-family: 'Roboto Condensed', sans-serif;
}

.navbar {
	height: 96px;
}

.navbar .container {
    margin: 0 auto;
    padding: 25px 0 0;
    position: relative;
}

.navbar-nav > li > .dropdown-menu {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.navbar-brand {
	margin: 6px 60px 0 18px;
    padding: 0;
}

.header-top-color-1 {
    background: none repeat scroll 0 0 #772331;
    height: 5px;
    left: 0;
    position: absolute;
    top: 0;
    width: 50%;
    z-index: 21;
}

.header-top-color-2 {
    background: none repeat scroll 0 0 #F9451B;
    height: 5px;
    left: 50%;
    position: absolute;
    top: 0;
    width: 25%;
    z-index: 22;
}

.header-top-color-3 {
    background: none repeat scroll 0 0 #A9272F;
    height: 5px;
    position: absolute;
    right: 50%;
    top: 0;
    width: 25%;
    z-index: 22;
}

.header-top-color-4 {
    background: none repeat scroll 0 0 #FFC54F;
    height: 5px;
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    z-index: 21;
}

.jumbotron {
    background-color: #A9272F;
    color: #fff;
}

.clear {
	clear: both;
}

.usermanu-wrapper {
	margin: 8px 0 0;
}

.form-register {
	margin: 10px auto;
	width: 300px;
}

.form-register input {
	padding: 10px;
	height: auto;
	font-size: 16px;
	border-radius: 0;
}

.form-register input.login {
	border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.form-register input.passwd2 {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.form-register button {
	margin: 12px 0 0;
}

.form-addGame h2 {
	margin-bottom: 40px;
}

.form-addGame .form-group {
	width: 100%;
	float: left;
	margin: 0 0 10px;
}

.form-addGame .form-group label {
	font-size: 17px;
}

.form-addGame .btn-lg {
	margin-top: 40px;
	float: left;
}

.form-addGame #map-canvas {
	width: 100%;
	height: 300px;
	clear: both;
	margin: 25px 0 0;
	float: left;
}

.form-addGame #game-controls {
	margin-bottom: 15px;
	float: left;
}

.form-addGame #game-controls .optionGroup {
	float: left;
	margin: 10px 10px 10px 0;
}

.form-addGame .input-daterange .form-control {
	width: 166px;
}


.form-addGame .input-daterange .add-on {
    border-left: 0 !important;
    border-right: 0 !important;
    height: 34px !important;
    line-height: 34px !important;
    margin: 0 !important;
    padding: 0 4px !important;
}

.form-addGame .setBase input[type=text] {
	width: 70%;
	float: left;
	margin: 0 10px 0 0;
}
.form-addGame .setBase input[type=button] {
    float: left;
}

table {
	background: #fff;
	border: 1px solid #ddd;
	border-top: none;
}
